.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  padding: 32px;
  background-color: $white;
  border-radius: 12px;
  border: 1px solid $beige;
  transition: all $transition-duration;

  @media (max-width: $pre-tablet) {
    gap: 20px;
  }

  @media (max-width: $tablet) {
    padding: 24px;
  }

  @media (max-width: $mobile) {
    padding: 16px;
  }

  &:hover {
    background-color: $light-grey;
    box-shadow: $box-shadow;
  }

  &__wrapper {
    @media (max-width: $big-mobile) {
      display: flex;
      gap: 20px;
    }

    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
  }

  &__info {
    @media (max-width: $big-mobile) {
      width: 100%;
    }

    @media (max-width: $mobile) {
      min-width: 220px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 174px;
    margin: 0 auto;

    @media (max-width: $big-mobile) {
      max-width: 140px;
    }

    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 24px 0 20px;

    @media (max-width: $big-mobile) {
      margin: 0 0 20px;
    }
  }

  &__name {
    font-family: 'Neucha';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;

    @media (max-width: $tablet) {
      font-size: 18px;
    }
  }

  &__weight {
    font-size: 12px;
  }

  &__composition {
    color: $dark-grey;

    @media (max-width: $tablet) {
      font-size: 14px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 42px;

    @media (max-width: $tablet) {
      height: 40px;
    }

    @media (max-width: $mobile) {
      height: 37px;
    }
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    color: $brown;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    @media (max-width: $big-mobile) {
      font-size: 16px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__counter {
    font-family: 'Neucha';
    font-size: 20px;
    font-weight: 700;
    color: $brown;
  }
}