//Размеры экранов
$big-tablet: 1000px;
$tablet: 768px;
$mobile: 480px;

//Цвета
$black: #141414;
$grey: #808080;
$light-grey: #A5A5A5;
$white: #FFFFFF;

$brown: #312525;
$light-brown: #B3A296;
$beige: #EBE1D7;

$blue: #062D4E;
$light-blue: #185598;
$dark-blue: #243139;

$red: #F34942;

$green: #0ACF83;

//Дополнительно
$box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
$transition-duration: .3s;